<!DOCTYPE html>
<html>
<head>
<title>Home</title>
<link href='iconsandstuff.css' rel="stylesheet">
  <link href="vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>

<div id="signupForm">
    <v-app id="inspire">
        <v-content>
        <v-container fluid fill-height>
            <v-layout align-center justify-center>
            <v-flex xs12 sm8 md4>
                <v-card class="elevation-12">
                <v-toolbar dark color="primary">
                    <v-toolbar-title>Sign Up form</v-toolbar-title>
                    <v-spacer></v-spacer>
                </v-toolbar>
                <v-card-text>
                    <v-form>
                    <v-text-field v-model="username" prepend-icon="person" name="login" label="Login" type="text"></v-text-field>
                    <v-text-field v-model="password" prepend-icon="lock" name="password" label="Password" id="password" type="password"></v-text-field>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-btn href="index.html" color="primary">
                            <v-icon left>arrow_back</v-icon>Back
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn v-on:click="signup" color="primary">Sign Up</v-btn>
                </v-card-actions>
                </v-card>
            </v-flex>
            </v-layout>
        </v-container>
        </v-content>
    </v-app>
</div>

<script src="jquery.js"></script>
<script src="vue.js"></script>
<script src="vuetify.js"></script>
<script src="signup.js"></script>

</body>
</html>